@import '../../scss/vars';

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__product{
        display: flex;
        align-items: center;
    }

    &__image{
        width: 64px;
        height: 64px;
        margin-right: 16px;
        border-radius: 8px;
    }
}

