@import '../../scss/vars';

.cart {
  padding: 32px;
  background-color: $title;
  border-radius: 8px;

  &__no-item {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: $accent;
  }

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__remove {
    text-decoration: underline;
    cursor: pointer;
  }

  &__inner {
    margin: 32px 0px;
    display: grid;
    row-gap: 24px;
  }

  &__total-box {
    margin-bottom: 24px;
  }

  &__checkout {
    width: 100%;
  }

  &__checkout {
    width: 100%;
  }

  &__total {
    margin-bottom: 8px;
  }

  &__big-total {
    margin-top: 24px;
  }
}

.cart-total {
  display: flex;
  justify-content: space-between;
}
