@import '../../scss/App.scss';
@import '../../scss/vars';

.go-back-button {
  // @extend .h6;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    color: $accent;
  }
}
