.items {
  &__name {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: #fff;
    background-color: #191919;
    padding: 100px 0;
    margin-bottom: 100px;
    @media (max-width: 1200px) {
      padding: 70px 0;
      margin-bottom: 70px;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 1.15px;
    }
    @media (max-width: 768px) {
      margin-bottom: 30px;
      padding: 30px 0;
      font-size: 24px;
      line-height: 33px;
      letter-spacing: 1.7px;
    }
  }
  &__loader {
    width: 65px;
    margin: -85px auto 20px;
    display: block;
    @media (max-width: 1200px) {
      margin-top: -55px;
    }
    @media (max-width: 768px) {
      margin: -20px auto 30px;
    }
  }
}
