.item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  &:last-child {
    padding-bottom: 0;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    .item__img {
      margin-right: 0;
      margin-left: 60px;
      @media (max-width: 1200px) {
        margin: 0 auto 50px;
      }
    }

    .item__box {
      margin-left: 0;
      margin-right: 60px;
      @media (max-width: 1200px) {
        margin: 0 auto 50px;
      }
    }
  }
  &:nth-child(odd) {
    .item__img {
      @media (max-width: 1200px) {
        margin: 0 auto 50px;
      }
    }
  }
  @media (max-width: 768px) {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  &__img {
    transition: all 0.3s ease-out;
    border-radius: 8px;
    @media (min-width: 320px) {
      margin: 0 auto 50px;
    }
    @media (min-width: 768px) {
      width: 450px;
      min-width: 450px;
    }
    &:hover {
      box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.1);
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    justify-content: center;
    @media (max-width: 1200px) {
      align-items: center;
      text-align: center;
      max-width: 485px;
      margin: 0 auto;
    }
  }
  &__subtitle {
    color: #d87d4a;
    margin-bottom: 15px;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 30px;
    margin-top: 55px;
    @media (max-width: 1200px) {
      font-size: 28px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  &__description {
    margin-bottom: 40px;
  }
}

.button {
  width: 160px;
  height: 48px;
  padding: 15px 25px !important;
}
