.preview {
  margin-bottom: 75px;
  @media (max-width: 1200px) {
    margin-bottom: 15px;
  }
}

.item__big {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  background-color: #d87d4a;
  background-image: url('../../../assets/home/desktop/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 55px;
  }
  &_img {
    width: 300px;
    height: 380px;
    margin-right: 140px;
    @media (max-width: 1200px) {
      width: 197px;
      height: 230px;
      margin: 0 auto;
      margin-bottom: 60px;
    }
    @media (max-width: 768px) {
      width: 172px;
      height: 207px;
      margin-bottom: 30px;
    }
  }
  &_about {
    text-align: center;
    max-width: 300px;
  }
  &_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
  }
  &_text {
    color: #ffffffbf;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
  &_button {
    background-color: #000;
    &:hover {
      background-color: #4c4c4c;
    }
  }
}

.item__medium {
  background-image: url('../../../assets/home/desktop/image-speaker-zx7.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 50px;
  @media (max-width: 1200px) {
    background-image: url('../../../assets/home/tablet/image-speaker-zx7.jpg');
    margin-bottom: 30px;
  }
  @media (max-width: 768px) {
    background-image: url('../../../assets/home/mobile/image-speaker-zx7.jpg');
    margin-bottom: 30px;
  }
  &_about {
    padding: 100px 0 100px 95px;
    @media (max-width: 1200px) {
      padding-left: 60px;
    }
    @media (max-width: 568px) {
      padding-left: 15px;
    }
  }
  &_title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }
  }
  &_button {
    background-color: transparent;
  }
}

.item__small {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  &_img {
    flex: 1 1 50%;
    margin-right: 5px;
    border-radius: 8px;
    @media (max-width: 1200px) {
      width: 370px;
      height: 320px;
    }
    @media (max-width: 768px) {
      width: 669px;
      height: 200px;
      margin-right: 0;
      margin-bottom: 25px;
    }
  }
  &_about {
    flex: 1 1 50%;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-left: 5px;
    padding: 100px 95px;
    max-width: 540px;
    max-height: 320px;
    width: 100%;
    height: 100%;
    @media (max-width: 768px) {
      max-width: 669px;
      max-height: 396px;
      margin-left: 0;
    }
    @media (max-width: 530px) {
      max-width: 508px;
      max-height: 300px;
      padding: 60px 56px 65px 24px;
    }
    @media (max-width: 375px) {
      padding: 40px 56px 40px 24px;
    }
  }
  &_title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  &_button {
    background-color: #f1f1f1;
  }
}
