@import '../../scss/media.scss';

.product-features{
    display: flex;
    justify-content: space-between;
    
    &__features{
        width: 635px;
        @include media-tablet{
            width: auto;
            margin-bottom: 120px;
        }
    }

    &__title{
        margin-bottom: 32px;
    }

    &__box{
        width: 350px;
        @include media-tablet{
            width: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
        }

        @include media-mobile{
            display: block;
        }
    }

    @include media-tablet{
        flex-direction: column;
    }
}

.product-feature{
    display: flex;
    &__number{
        margin-right: 21px;
    }
    margin-bottom: 8px;
}
