
.product {
  &__link-back {
    margin-top: 79px;
    margin-bottom: 56px;
    cursor: pointer;
    @media (max-width: 1200px) {
      margin-top: 33px;
      margin-bottom: 24px;
    }
    @media (max-width: 768px) {
      margin-top: 16px;
    }
  }
}

.product-link-back {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

