.product-features{
    display: flex;
    justify-content: space-between;
    
    &__features{
        width: 635px;
    }

    &__title{
        margin-bottom: 32px;
    }
}

.product-feature{
    display: flex;
    &__number{
        margin-right: 21px;
    }
    margin-bottom: 8px;
}
