@import '../../scss/media.scss';

.product-like{
    &__title{
        text-align: center;
        margin-bottom: 64px;
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        @include media-mobile{
            grid-template-columns: auto;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 56px;
        }
    }
}